html{
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
}
.container{
    display: flex;
}

.textCenter{
    text-align: center;
}
.bodyBg{
    background-color: rgb(211, 211, 211)
}.bg-pixis{
    background-color: rgba(90, 4, 160, 0.7);
}
h1{
    margin: 1rem;
    font-size: 3rem;
}
.ofertasDiv{
    padding: 1rem;
    border-bottom: solid rgb(173, 173, 173);
    background-color: rgb(252, 252, 252);
}