.container-form {
    margin-bottom: 1.4rem;
    display: flex;
    justify-content: center;
  }
  
  .typeform {
    width: auto;
    height: auto;
    background-color: rgb(211, 211, 211);
    margin: 20px;
    padding: 0%;
  }
  
  .marginbot {
    margin-bottom: 5rem;
  }
  