.footerRedes{
    flex-direction: row;
    justify-content: center;
}

.footerDiv{
    justify-content: center;
}

footer div h2{
    font-size: 1.6rem;
}

footer div h3{
    font-size: 1rem;

}

.footer{
    padding: 1rem;
    background-color:rgba(90, 4, 160, 0.7)
    
}

.imgFooter{
    margin: 3px; 
    height: 60px;
}

.h2Footer{
    padding: 10px;    
}